button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    height: 24px;
    width: 30px;
    border-radius: 5px;
}
.active {
    background-color: rgb(145, 145, 243);
}
